{% extends "base.html" %}
{% load socialaccount %}
{% block title %}Inicio · Mercadito{% endblock %}
{% block content %}
  <h1 class="bg-dark-subtle text-dark">Inicio</h1>
  {% if not user.is_authenticated %}
    <p class="text-dark">Ingresá para publicar o comprar.</p>
    <p class="text-dark">
      <a class="btn btn-light border border-0" href="{% provider_login_url 'google' %}"><img width="48" height="48" src="https://img.icons8.com/color/48/google-logo.png" alt="google-logo"/></a>
      <a class="btn btn-light border border-0" href="{% provider_login_url 'github' %}"><img width="48" height="48" src="https://img.icons8.com/glyph-neue/48/github.png" alt="github"/></a>
    </p>
  {% else %}
    <p class="text-dark">Ya estás logueado ✅. Próximo paso: crear productos y compras.</p>
  {% endif %}
{% endblock %}
