{% extends "base.html" %}

{% block content %}
<h2 class="text-dark">Productos</h2>
<ul class="list-group">
  {% for p in products %}
    <li class="list-group-item" >
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <strong>{{ p.title }}</strong> — $ {{ p.price }}  
          <p class="mb-1 text-muted">Marca: {{ p.marca }}</p>
          <small class="text-secondary">
            Descripción: {{ p.description}}
          </small><br>
          <small class="text-secondary">
            Publicado por {{ p.seller.get_full_name|default:p.seller.username }}
          </small>
        </div>
      </div>
    </li>
  {% empty %}
    <li class="text-dark">No hay productos aún.</li>
  {% endfor %}
</ul>
{% endblock %}

